<table class="table table-bordered mt-5 shadow table-striped table-hover ">
    <thead>
        <tr>
           
            <th></th>
            <th>sr no</th>
         <th>firstName</th>
         <th>lastName</th>
         <th>phoneNumber</th>
         <th>age</th>
     </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of set;let i=index;">
            <td>
         <button class="btn btn-sm btn-danger" (click)="onDeleteUser(row._id)" >DELETE</button>
          <button class="btn btn-sm btn-primary ml-2" [routerLink]="'/edit_user/'+row._id">EDIT</button>
            </td>
            <td>{{i+1}}</td>
            <td>{{row.firstName}}</td>
            <td>{{row.lastName}}</td>
            <td>{{row.phoneNumber}}</td>
            <td>{{row.age}}</td>
        </tr>
    </tbody>
   
   
</table>
